:root {
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.beauty-care-1 {
  position: absolute;
  left: -7012px;
  top: 1365px;
  width: 1728px;
  height: 1117px;
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
}
