
/* Add font files for Kanit */
@font-face {
  font-family: 'Kanit';
  src: url('fonts/kanit.woff2') format('woff2'),
       url('fonts/kanit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Add font files for Junge */
@font-face {
  font-family: 'Junge';
  src: url('fonts/junge.woff2') format('woff2'),
       url('fonts/junge.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-kanit: 'Kanit', sans-serif;
  --font-family-junge: 'Junge', sans-serif;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-2 {
  position: absolute;
  left: 14px;
  top: 101px;
  width: 250px;
  height: 42px;
  font-size: 28px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.rectangle-29-3 {
  position: absolute;
  left: -1px;
  top: 166px;
  width: 1729px;
  height: 74px;
  background-color: rgba(241, 240, 240, 1);
}

.text-4 {
  position: absolute;
  left: 26px;
  top: 182px;
  width: 267px;
  height: 42px;
  font-size: 28px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-5 {
  position: absolute;
  left: 1213px;
  top: 182px;
  width: 382px;
  height: 42px;
  font-size: 28px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-6 {
  position: absolute;
  left: 221px;
  top: 285px;
  width: 589px;
  height: 96px;
  font-size: 32px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.vector-7 {
  position: absolute;
  left: 881px;
  top: 305.123046875px;
  width: 21px;
  height: 32.88227462768555px;
}

.text-8 {
  position: absolute;
  left: 919px;
  top: 293px;
  width: 86px;
  height: 60px;
  font-size: 40px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.image-204-9 {
  position: absolute;
  left: 26px;
  top: 279px;
  width: 145px;
  height: 177px;
  width: 100%;
  height: auto;
}

.text-10 {
  position: absolute;
  left: 221px;
  top: 484px;
  width: 540px;
  height: 96px;
  font-size: 32px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.vector-11 {
  position: absolute;
  left: 881px;
  top: 501.4990234375px;
  width: 21px;
  height: 32.88227462768555px;
}

.text-12 {
  position: absolute;
  left: 919px;
  top: 487px;
  width: 86px;
  height: 60px;
  font-size: 40px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.image-196-13 {
  position: absolute;
  left: 38px;
  top: 479px;
  width: 145px;
  height: 177px;
  width: 100%;
  height: auto;
}

.rectangle-40-14 {
  position: absolute;
  left: 1091px;
  top: 256px;
  width: 636px;
  height: 446px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(217, 210, 210, 1);
  border-radius: 15px;
}

.text-15 {
  position: absolute;
  left: 221px;
  top: 395px;
  width: 147px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-16 {
  position: absolute;
  left: 219px;
  top: 603px;
  width: 151px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-17 {
  position: absolute;
  left: 395px;
  top: 395px;
  width: 178px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-18 {
  position: absolute;
  left: 393px;
  top: 603px;
  width: 304px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-19 {
  position: absolute;
  left: 1135px;
  top: 655px;
  width: 67px;
  height: 36px;
  font-size: 24px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-20 {
  position: absolute;
  left: 1100px;
  top: 752px;
  width: 293px;
  height: 36px;
  font-size: 24px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(57, 52, 52, 1);
}

.text-21 {
  position: absolute;
  left: 1100px;
  top: 803px;
  width: 629px;
  height: 180px;
  font-size: 24px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(57, 52, 52, 1);
}

.text-22 {
  position: absolute;
  left: 1134px;
  top: 338px;
  width: 434px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-23 {
  position: absolute;
  left: 76px;
  top: 670px;
  width: 402px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-24 {
  position: absolute;
  left: 500px;
  top: 670px;
  width: 161px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-25 {
  position: absolute;
  left: 183px;
  top: 730px;
  width: 311px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-26 {
  position: absolute;
  left: 183px;
  top: 838px;
  width: 222px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-27 {
  position: absolute;
  left: 180px;
  top: 950px;
  width: 210px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-28 {
  position: absolute;
  left: 184px;
  top: 1059px;
  width: 308px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(119, 113, 113, 1);
}

.text-29 {
  position: absolute;
  left: 187px;
  top: 1083px;
  width: 202px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(55, 113, 200, 1);
}

.text-30 {
  position: absolute;
  left: 1134px;
  top: 276px;
  width: 375px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-31 {
  position: absolute;
  left: 1130px;
  top: 595px;
  width: 375px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-32 {
  position: absolute;
  left: 1134px;
  top: 377px;
  width: 405px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-33 {
  position: absolute;
  left: 1135px;
  top: 457px;
  width: 342px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-34 {
  position: absolute;
  left: 1569px;
  top: 276px;
  width: 130px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-35 {
  position: absolute;
  left: 1550px;
  top: 592px;
  width: 135px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.text-36 {
  position: absolute;
  left: 1628px;
  top: 458px;
  width: 67px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: bold;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.vector-37 {
  position: absolute;
  left: 1549px;
  top: 289px;
  width: 21px;
  height: 32.88227462768555px;
}

.vector-38 {
  position: absolute;
  left: 1530px;
  top: 605px;
  width: 21px;
  height: 32.88227462768555px;
}

.vector-39 {
  position: absolute;
  left: 1613px;
  top: 472px;
  width: 21px;
  height: 32.88227462768555px;
}

.text-40 {
  position: absolute;
  left: 625px;
  top: 395px;
  width: 193px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(1, 178, 40, 1);
}

.text-41 {
  position: absolute;
  left: 743px;
  top: 603px;
  width: 197px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(1, 178, 40, 1);
}

.text-42 {
  position: absolute;
  left: 1162px;
  top: 512px;
  width: 216px;
  height: 30px;
  font-size: 20px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(1, 178, 40, 1);
}

.vector-44 {
  position: absolute;
  left: 600px;
  top: 402px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.vector-45 {
  position: absolute;
  left: 606.5014295578003px;
  top: 408.50087118148804px;
  width: 5.010000228881836px;
  height: 5.010000228881836px;
  border: 3px solid rgba(1, 178, 40, 1);
}

.vector-46 {
  position: absolute;
  left: 606.0014295578003px;
  top: 408.00087118148804px;
  width: 6px;
  height: 6px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.group-43 {
  position: absolute;
  left: 600px;
  top: 402px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
}

.vector-48 {
  position: absolute;
  left: 718px;
  top: 610px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.vector-49 {
  position: absolute;
  left: 724.5014295578003px;
  top: 616.500871181488px;
  width: 5.010000228881836px;
  height: 5.010000228881836px;
  border: 3px solid rgba(1, 178, 40, 1);
}

.vector-50 {
  position: absolute;
  left: 724.0014295578003px;
  top: 616.000871181488px;
  width: 6px;
  height: 6px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.group-47 {
  position: absolute;
  left: 718px;
  top: 610px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
}

.vector-52 {
  position: absolute;
  left: 1134px;
  top: 518px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.vector-53 {
  position: absolute;
  left: 1140.5014295578003px;
  top: 524.500871181488px;
  width: 5.010000228881836px;
  height: 5.010000228881836px;
  border: 3px solid rgba(1, 178, 40, 1);
}

.vector-54 {
  position: absolute;
  left: 1140.0014295578003px;
  top: 524.000871181488px;
  width: 6px;
  height: 6px;
  border: 2px solid rgba(1, 178, 40, 1);
}

.group-51 {
  position: absolute;
  left: 1134px;
  top: 518px;
  width: 18.00286102294922px;
  height: 18.002302169799805px;
}

.text-55 {
  position: absolute;
  left: 1606px;
  top: 378px;
  width: 93px;
  height: 54px;
  font-size: 36px;
  font-family: var(--font-family-kanit);
  font-weight: normal;
  text-align: left;
  color: rgba(1, 178, 40, 1);
}

.line-13-56 {
  position: absolute;
  left: 1102px;
  top: 580px;
  width: 598px;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.vector-57 {
  position: absolute;
  left: 129px;
  top: 723px;
  width: 44px;
  height: 44px;
}

.vector-58 {
  position: absolute;
  left: 129px;
  top: 832px;
  width: 44px;
  height: 44px;
}

.vector-59 {
  position: absolute;
  left: 129px;
  top: 941px;
  width: 44px;
  height: 44px;
}

.vector-60 {
  position: absolute;
  left: 129px;
  top: 1050px;
  width: 44px;
  height: 44px;
}

.line-14-61 {
  position: absolute;
  left: 148.24267578125px;
  top: 763.9736328125px;
  width: 71.02714538574219px;
  height: 0px;
  border: 5px solid rgba(1, 178, 40, 1);
}

.line-16-62 {
  position: absolute;
  left: 148px;
  top: 985px;
  width: 69.99999237060547px;
  height: 0px;
  border: 5px solid rgba(0, 0, 0, 1);
}

.line-15-63 {
  position: absolute;
  left: 148px;
  top: 875px;
  width: 74.99999237060547px;
  height: 0px;
  border: 5px solid rgba(1, 178, 40, 1);
}

.ellipse-3-64 {
  position: absolute;
  left: 135px;
  top: 892px;
  width: 31px;
  height: 31px;
}

.rectangle-20-65 {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 1728px;
  height: 83px;
  background-color: rgba(37, 153, 62, 1);
}

.text-66 {
  position: absolute;
  left: 1543px;
  top: 32.990234375px;
  width: 124px;
  height: 35.57143020629883px;
  border: 1px solid rgba(252, 252, 252, 1);
  font-size: 20px;
  font-family: var(--font-family-junge);
  font-weight: normal;
  text-align: left;
  color: rgba(250, 249, 249, 1);
}

.herbs-1-67 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 101px;
  height: 76px;
  mix-blend-mode: linear_burn;
  width: 100%;
  height: auto;
}

.text-68 {
  position: absolute;
  left: 115px;
  top: 24px;
  width: 422px;
  height: 43px;
  border: 2px solid rgba(27, 3, 173, 1);
  mix-blend-mode: linear_burn;
  font-size: 40px;
  font-family: var(--font-family-junge);
  font-weight: normal;
  text-align: justified;
}

.vector-70 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 22.6760311126709px;
}

.vector-71 {
  position: absolute;
  left: 4.824583053588867px;
  top: 7.0875067710876465px;
  width: 14.332544326782227px;
  height: 8.196548461914062px;
}

.group-69 {
  position: absolute;
  left: 1676px;
  top: 31.127788543701172px;
  width: 24px;
  height: 22.6760311126709px;
}

.vector-73 {
  position: absolute;
  left: 1496.2001953125px;
  top: 25.778148651123047px;
  width: 17.600000381469727px;
  height: 17.642385482788086px;
}

.vector-74 {
  position: absolute;
  left: 1483px;
  top: 16.955883026123047px;
  width: 44px;
  height: 44.1059684753418px;
}

.group-72 {
  position: absolute;
  left: 1483px;
  top: 16.955883026123047px;
  width: 44px;
  height: 44.1059684753418px;
}

.rectangle-23-76 {
  position: absolute;
  left: 1050px;
  top: 24.00023651123047px;
  width: 404px;
  height: 42px;
  background-color: rgba(1, 178, 40, 0.20000000298023224);
  border: 1px solid rgba(244, 243, 243, 1);
  border-radius: 40px;
}

.vector-77 {
  position: absolute;
  left: 1060px;
  top: 26.40349531173706px;
  width: 31px;
  height: 32.12437438964844px;
  border: 3px solid rgba(255, 255, 255, 1);
}

.group-147-75 {
  position: absolute;
  left: 1050px;
  top: 24px;
  width: 404px;
  height: 42.00023651123047px;
}

.vector-79 {
  position: absolute;
  left: 1411px;
  top: 28.29296875px;
  width: 24px;
  height: 28.34503936767578px;
}

.group-168-78 {
  position: absolute;
  left: 1411px;
  top: 28.29296875px;
  width: 24px;
  height: 28.34503936767578px;
}

.vector-81 {
  position: absolute;
  left: 3.0859999656677246px;
  top: 5.639999866485596px;
  width: 7.363786220550537px;
  height: 12.72800064086914px;
}

.weui-arrow-filled-80 {
  position: absolute;
  left: 392px;
  top: 1089px;
  width: 12px;
  height: 24px;
}

.shipping-1 {
  position: absolute;
  left: -5070px;
  top: 6526px;
  width: 1728px;
  height: 1117px;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
}
